.App {
  text-align: center;
}

.exit{
  width: 300px;
	height: 60px;
	background-color: #4083b2;
	border: 5px solid white;
	border-radius: 20px;
	transition: .2s;
	display: block;
  margin: auto;
  cursor: pointer;
}

.exit:hover{
  background-color: #15ab74;
}
li{
  list-style-type: none;
}